@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

html, body {
    min-height: 100%;
}

body {
    margin: 0px;
    background: url(img/sfondo.jpg) #101010 no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    padding: 50px 0px 100px;
}

header {
    padding: 15px 0px;
    margin: 0px 0px 50px;
}

header nav {
    font-size: 0px; /* aggiunto per non mostrare il cursore di "selezione testo" fra i vari link */
    text-align: right;
}

header nav a {
    font-size: 14px;
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: #fff;
    display: inline-block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

header nav a:first-child {
    position: absolute;
    top: 10%;
    left: 0px;
    width: 40%;
    height: 80%;
    background-color: none;
    background-image: url(img/logo.png);
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
}

header nav a:nth-child(n+2) {
    padding: 8px 15px;
    margin: 15px 7px;
    border-radius: 5px;
    transition: all .2s ease;
}

header nav a:nth-child(n+2):hover {
    background: #fff;
    color: #202020;
}


header nav, main, .popup {
    width: 72vw;
}

header nav, main {
    position: relative;
    margin: 0 auto;
}

.popup {
    margin-left: -36vw;
}

main {
    line-height: 0;
    font-size: 0;
    text-align: center;
}

main .locandina {
    position: relative;
    width: 15vw;
    height: 22.7vw;
    display: inline-block;
    margin: 0 40px 40px 0;
    background-position: center center;
    background-size: cover;
    box-shadow: 5px 6px 14px rgba(0,0,0,0.6);
    background-color: #101010;
    border-radius: 5px;
}


main .locandina a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(150,200,80,0);
    position: absolute;
    top:0;
    left:0;
}

main .locandina .info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    line-height: 1;
}

main .locandina .info .sala {
    position: absolute;
    bottom: 0px;
    right:0;
}



/********** PAGINA "INFORMAZIONI" **********/



.popup {
    background: url(img/orange.jpg) no-repeat center center;
    position: fixed;
    top: 0vh;
    left: 50%;
    height: 70vh;
    font-size: 0;
    box-shadow: 3px 6px 18px rgba(0,0,0,0.5);
    border-radius: 3px;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.popup > .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 33px;
    background-image: url(img/dark_cross.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10000;
}

.popup > .close.light {
    background-image: url(img/light_cross.png);
}

#informazioni {
    white-space: nowrap;
}

#informazioni img {
    height: 80vh;
    max-height: 80vh;
    float: left;
    position: relative;
    top: -5vh;
    left: 0;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.7);
    transition: top .6s ease;
    border-radius: 4px;
}

#informazioni img:hover {
    top: -6.5vh;
}

#informazioni .info {
    display: inline-block;
    padding: 30px 40px;
    white-space: normal;
}

#informazioni h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
}

#informazioni h2 {
    font-size: 20px;
    color: rgba(0,0,0,0.7);
    margin: 10px 0 20px;
}

#informazioni #trama {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 0;
    max-height: 43vh;
    overflow-y: scroll;
    display: inline-block;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

#informazioni .prenotazione {
    position: absolute;
    bottom: 20px;
    right: 20px
}

#informazioni .prenotazione input, #informazioni .prenotazione select, #informazioni .prenotazione option {
    font-size: 16px;
    margin-left: 15px;
    padding: 5px;
}



/*---------------PAGINA POSTI--------------------*/



#posti {
    position: absolute;
    perspective: 900px;
    -webkit-perspective: 900px;
    background-image: url(img/pavement.jpg);
    background-position: center center;
    background-size: auto 40%;
    background-repeat: repeat;
    min-height: 70vh;
    height: auto;
    padding-bottom: 5vh;
}

#posti::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/ombra_light.png');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}

#posti iframe {
    width: 36vw;
    height: 15vw;
    position: relative;
    top: -5vh;
    left: 50%;
    margin: 0 -18vw;
    border: 0px;
    vertical-align: bottom;
    transform : rotateX(-60deg);
    box-shadow: 0px 0px 100px rgba(255,255,255,0.35);
    background: #101010;
}

#posti #sala {
    border-spacing: 8px;
    width: 80%;
    min-width: 80%;
    margin-left: 10%;
}

#posti td {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    position: relative;
}

#posti td.chair_empty {
    background-image: url(img/chair_empty.png);
}

#posti td.chair_empty:hover {
    background-image: url(img/chair_tofill.png);
}

#posti td.chair_full {
    background-image: url(img/chair_full.png);
}

#posti .chair_empty span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}




/********** MEDIA QUERIES PER ADATTAMENTO ALLO SCHERMO **********/




@media screen and (min-width:1000px) {
    main .locandina:nth-child(4n) {
        margin-right: 0px;
    }
}

@media screen and (min-width:700px) and (max-width:999px) {
    main .locandina:nth-child(3n) {
        margin-right: 0px;
    }
    main .locandina {
        width: 20vw;
        height: 31vw;
    }
}

@media screen and (max-width:699px) {
    main .locandina:nth-child(2n) {
        margin-right: 0px;
    }
    main .locandina {
        width: 31vw;
        height: 44vw;
    }
}
