@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

html, body {
    min-height: 100%;
}

body {
    margin: 0px;
    background: url(img/sfondo.jpg) #101010 no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    padding: 50px 0px 100px;
}

a {
    cursor: pointer;
}

header {
    padding: 15px 0px;
    margin: 0px 0px 50px;
}

header nav {
    font-size: 0px;
    text-align: right;
}

header nav a {
    font-size: 14px;
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: #fff;
    display: inline-block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

header nav a:first-child {
    position: absolute;
    top: 10%;
    left: 0px;
    width: 40%;
    height: 80%;
    background-color: none;
    background-image: url(img/logo.png);
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
}

header nav a:nth-child(n+2) {
    padding: 8px 15px;
    margin: 15px 7px;
    border-radius: 5px;
    transition: all .2s ease;
}

header nav a:nth-child(n+2):hover {
    background: #fff;
    color: #202020;
}

header nav, main, .popup {
    width: 72vw;
    margin-left: -36vw;
}

.popup.small {
    width: 400px;
    margin-left: -200px;
}

header nav, main {
    position: relative;
    margin: 0 auto;
}

main {
    line-height: 0;
    font-size: 0;
    text-align: center;
}

main .locandina {
    position: relative;
    width: 15vw;
    height: 22.7vw;
    display: inline-block;
    margin: 0 40px 40px 0;
    background-position: center center;
    background-size: cover;
    box-shadow: 5px 6px 14px rgba(0,0,0,0.6);
    background-color: #101010;
    border-radius: 5px;
}


main .locandina a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(150,200,80,0);
    position: absolute;
    cursor: pointer;
    top:0;
    left:0;
}

.button {
    text-decoration: none;
    color: #fff;
    background: #202020;
    padding: 7px 25px;
    border-radius: 10px;
    margin: 0 4px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
}

.button.confirm {
    background: #2212d2;
}

.button.deny {
    background: #c32727;
}

.popup {
    background: url(img/orange.jpg) no-repeat center center;
    position: fixed;
    top: 0vh;
    left: 50%;
    height: 70vh;
    font-size: 0;
    box-shadow: 3px 6px 18px rgba(0,0,0,0.5);
    border-radius: 3px;
    margin-top: 15vh;
    margin-bottom: 15vh;
    z-index: 1000;
    opacity: 0;
    transition: opacity .3s ease;
}

.popup > .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 33px;
    background-image: url(img/dark_cross.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10000;
}

.popup > .close.light {
    background-image: url(img/light_cross.png);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0,0,0,0.0);
    transition: all .3s ease;
    overflow-y: scroll;
}

.overlay.green {
    background-color: rgba(0,255,0,0.7);
}

.overlay.red {
    background-color: rgba(255,0,0,0.7);
}

.overlay > a.chiudi_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    cursor: default;
}

.overlay > span {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    color: #fff;
    text-align: center;
    font-size: 25px;
    transition: all .5s ease;
    letter-spacing: 2px;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.2);
}

.overlay > span b {
    display: block;
    width: 100%;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 15px;
}



/********** PAGINA "INFORMAZIONI" **********/




#informazioni {
    white-space: nowrap;
}

#informazioni img {
    height: 80vh;
    max-height: 80vh;
    float: left;
    position: relative;
    top: -5vh;
    left: -1px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 4px;
}

#informazioni .info {
    display: inline-block;
    padding: 30px 40px;
    white-space: normal;
}

#informazioni h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
}

#informazioni h2 {
    font-size: 20px;
    color: rgba(0,0,0,0.7);
    margin: 10px 0 20px;
}

#informazioni h2 .genere::before, #informazioni h2 .durata::before, #informazioni h2 .valutazione::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 6px 0 30px;
}

#informazioni h2 .genere::before {
    background-image: url('img/film.svg');
    margin-left: 0;
}

#informazioni h2 .durata::before {
    background-image: url('img/clock.svg');
}

#informazioni h2 .durata::after {
    content: "'";
}

#informazioni h2 .valutazione::before {
    background-image: url('img/star.svg');
}

#informazioni #trama {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 0;
    max-height: 43vh;
    overflow-y: scroll;
    display: inline-block;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

#informazioni .prenotazione {
    position: absolute;
    bottom: 20px;
    right: 20px
}

#informazioni .prenotazione input, #informazioni .prenotazione select, #informazioni .prenotazione option {
    font-size: 16px;
    margin-left: 15px;
    padding: 5px;
}



/*---------------PAGINA POSTI--------------------*/



#posti {
    position: absolute;
    perspective: 850px;
    -webkit-perspective: 850px;
    background-image: url(img/pavement.jpg);
    background-position: center center;
    background-size: 25px auto;
    background-repeat: repeat;
    min-height: 70vh;
    height: auto;
    padding-bottom: 5vh;
}

#posti::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/ombra_light.png');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}

#posti iframe {
    width: 36vw;
    height: 15vw;
    position: relative;
    top: -5vh;
    left: 50%;
    margin: 0 -18vw;
    border: 0px;
    vertical-align: bottom;
    transform : rotateX(-65deg);
    box-shadow: 0px 0px 100px rgba(255,255,255,0.35);
    background: #101010;
}

#posti #sala {
    border-spacing: 8px;
    width: 80%;
    min-width: 80%;
    margin-left: 10%;
}

#posti td {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    position: relative;
}

#posti td.chair_empty {
    background-image: url(img/chair_empty.png);
}

#posti td.chair_empty.selected, #posti td.chair_empty:hover {
    background-image: url(img/chair_tofill.png);
}

#posti td.chair_full {
    background-image: url(img/chair_full.png);
}

#posti .chair_empty span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

#conferma_prenotazione {
    color: #101010;
    font-size: 1.4vw;
    text-decoration: none;
    background-color: #fff;
    padding: 15px 30px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 -205px;
    position: fixed;
    top: -100px;
    left: 50%;
    width: 350px;
    text-align: center;
    box-sizing: content-box;
    border-radius: 50px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
    transition: all .4s ease;
    z-index: 1001;
}

#conferma_prenotazione.visibile {
    top: 30px;
}




/***************pagina riepilogo*********************************/




#riepilogo .copertina{
    background-position: center center;
    width: 110%;
    height: 22vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: -5%;
    top: -2vh;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 6px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.4);
}

#riepilogo h1{
    font-size: 28px;
    line-height: 1;
    padding: 0 20px;
}

#riepilogo > span{
    font-size: 18px;
    padding: 0 20px;
    display: inline-block;
    line-height: 1.5;
}

#riepilogo table {
    width: 90%;
    margin: 16px 5%;
    padding: 13px 0 13px 13px;
    border-spacing: 0;
    border: 2px solid #000;
    border-left: 0;
    border-right: 0;
}

#riepilogo table td {
    font-size: 18px;
    padding: 5px 0;
}

#riepilogo table td:last-child {
    text-align: center;
}

#riepilogo table td:first-child {
    font-size: 16px;
}

#riepilogo table tr:last-child td:last-child {
    font-weight: bold;
}

#riepilogo .conferma {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0 0 15px;
    font-size: 0;
}




/**********************CINEMA**********************/

#pannello {
    position:fixed;
    width: 30vw;
    height: 100%;
    top: 0;
    left: 130vw;
    z-index: 1000;
    background-image: url(img/orange.jpg);
    background-size: cover;
    background-position: center center;
    overflow-y: scroll;
    transition: all .7s ease;
}

#pannello::before {
    content: '';
    width: 100%;
    height: 60px;
    margin: 35px 0;
    display: inline-block;
    background-image: url(/img/logo.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#pannello > div {
    position: relative;
    width: 80%;
    margin: 0 10%;
    padding: 25px 25px 0;
    border-top: 2px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    cursor: pointer;
    transition: all .3s ease;
}

#pannello > div:hover {
    background-color: rgba(0,0,0,0.05);
}

#pannello > div.open:hover {
    background-color: rgba(0,0,0,0.0);
}

#pannello > div::before {
    content: '';
    position: absolute;
    top: 25px;
    right: 25px;
    display: inline-block;
    width: 28px;
    height: 25px;
    transform: rotateZ(0deg);
    background-image: url(img/freccia.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .4s ease;
}

#pannello > div.open::before {
    transform: rotateZ(180deg);
}

#pannello > div h2 {
    text-transform: uppercase;
    font-size: 20px;
    color: #222;
    margin: 0 0 25px;
}

#pannello > div div {
    height: 0px;
    overflow: hidden;
    color: #222;
    transition: all .4s ease;
    overflow-y: scroll;
}

#pannello > div.open div {
    height: 43vh;
}

#pannello > div div .b {
    text-transform: uppercase;
}

#pannello .location {
    display: inline-block;
    padding-left: 40px;
    background-image: url(img/location.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 30px auto;
}

#pannello .tel::before, #pannello a.mail::before, #pannello .ticket::after {
    content: '';
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    background-image: url(img/tel.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

#pannello li {
    margin-bottom: 10px;
}

#pannello .ticket::after {
    background-image: url(img/ticket.png);
    margin: 0 0 0 10px;
}

#pannello a {
    color: #222;
    text-decoration: none;
    font-weight: bold;

}

#pannello a.mail::before {
    background-image: url(img/email.png);
}






/********** MEDIA QUERIES PER ADATTAMENTO ALLO SCHERMO **********/




@media screen and (min-width:1000px) {
    main .locandina:nth-child(4n) {
        margin-right: 0px;
    }
}

@media screen and (min-width:700px) and (max-width:999px) {
    main .locandina:nth-child(3n) {
        margin-right: 0px;
    }
    main .locandina {
        width: 20vw;
        height: 31vw;
    }
}

@media screen and (max-width:699px) {
    main .locandina:nth-child(2n) {
        margin-right: 0px;
    }
    main .locandina {
        width: 31vw;
        height: 44vw;
    }
}